.container {
  display: flex;
  gap: 100px;
}

.posts {
  flex: 1;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0px;
}

.imgContainer {
  width: 200px;
  height: 100px;
  position: Ū;
}

.img {
  object-fit: cover;
}

.delete {
  cursor: pointer;
  color: red;
}

.new {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input,
.textArea {
  padding: 10px;
  background-color: transparent;
  border: 2px solid #bbb;
  border-radius: 3px;
  color: #bbb;
  font-size: 20px;
  font-weight: bold;
}

.button {
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-weight: bold;
}

.tableData table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tableData td, 
.tableData th {  /* ✅ Add .tableData before th */
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tableData tr:nth-child(even) {
  background-color: #dddddd;
}
